
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a href="#" class="navbar-brand"><span style="color:#fff;">Sofa</span><span style="color:#017e66;">Help</span></a>
		</div>
		<ul class="nav navbar-nav">
			<li><a ui-sref="questions">问答</a></li>
			<li><a ui-sref="questions">文章</a></li>
			<li><a ui-sref="questions">活动</a></li>
			<li><a ui-sref="questions">榜单</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a>路人甲</a></li>
		</ul>
	</div>
</nav>

